td, th {
  font-size: 0.8rem;
  padding: 4px 8px !important; }

.wave {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1; }

.wave + .wave {
  z-index: 2; }

.button-actions {
  width: 35px;
  height: 35px;
  background: #2B2D42;
  box-shadow: 0 4px 4px #999;
  border-radius: 10px; }
  .button-actions:hover {
    background: #212336; }
  .button-actions:active {
    background: #e40505; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

.button-actions-search {
  width: 35px;
  height: 35px;
  background: #2B2D42;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

.modal-fullscreen {
  max-width: 100%; }

.search-bar {
  width: 365px;
  height: 35px;
  border-radius: 5px !important; }

.nav-just {
  top: 0;
  position: absolute;
  left: 120px; }

.image-back {
  position: absolute;
  width: 155%;
  height: 103%;
  left: -92px;
  top: -10px;
  background: url(../images/asd.jpg);
  filter: blur(5px); }

.blue-left {
  background-color: #2B2D42;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .8; }

.dbs {
  z-index: 8 !important; }

.list-group-item {
  color: #2B2D42 !important;
  background-color: #ffffff; }

.list-group-item.active {
  background-color: #EDF2F4; }

.table th {
  border-top: 0 !important; }

/*
    !Font Awwsome + Datatables
*/
table.dataTable thead th {
  position: relative;
  background-image: none !important;
  /* Remove the DataTables bootstrap integration styling */ }

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  position: absolute;
  top: 12px;
  right: 8px;
  display: block;
  font-family: "Font Awesome 5 Free"; }

table.dataTable thead th.sorting:after {
  font-weight: 900;
  /* regular style/weight */
  content: "\f0dc";
  color: #ddd;
  font-size: 0.8em;
  padding-top: 0.12em; }

table.dataTable thead th.sorting_asc:after {
  font-weight: 900;
  /* regular style/weight */
  content: "\f0de"; }

table.dataTable thead th.sorting_desc:after {
  font-weight: 900;
  /* regular style/weight */
  content: "\f0dd"; }

div.dataTables_scrollBody table.dataTable thead th.sorting:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_asc:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_desc:after {
  content: ""; }

/* In Bootstrap and Foundation the padding top is a little different from the DataTables stylesheet */
table.table thead th.sorting:after,
table.table thead th.sorting_asc:after,
table.table thead th.sorting_desc:after {
  top: 8px; }

/*
    !Modales
*/
.modal-content {
  border: 0 !important;
  border-radius: 0 !important;
  outline: 0; }

.button-close {
  width: 30px;
  height: 30px; }

.button-close:hover {
  background-color: #e40505; }

.modal-backdrop.show {
  opacity: 0.1 !important; }

dt {
  font-weight: normal;
  font-size: 15px; }

.custom-range {
  height: 1rem; }

/*
  !Cambios al bootstrap
*/
.form-control:focus {
  border-color: #5d628f;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important; }

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important; }

.btn:focus, .btn.focus {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important; }

.popover {
  max-height: 400px !important; }

.popover.popoverselecticon {
  margin-left: 10px !important;
  margin-top: 13.5% !important; }

.popover.popoverselecticon .arrow {
  top: 31px !important; }

.list-group-item:first-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important; }

.list-group-item:last-child {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }
