td, th {
  font-size: 0.8rem; 
  padding: 4px 8px !important;
}
table.dataTable.no-footer {
  border-bottom: 0px !important; 
}
.dataTables_info{
  display: none !important;
}
.th-custom{
  position: sticky;
  top: 0;
  background-color: #2b2d42;
}
.wave {
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  z-index: 1;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.wave + .wave {
  z-index: 2;
}

.button-actions{
  width: 35px;
  height: 35px;

  background: #2B2D42;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  &:hover {
    background: #212336;
  }
  &:active {
    background: #e40505;
  }
}
.button-actions-bottom{
  width: 35px;
  height: 35px;

  background: #c72828;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    background: #ab1212;
  }
  &:active {
    background: #8D99AE;
  }
}


.button-actions-search{
  width: 35px;
  height: 35px;
  background: #2B2D42;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.modal-fullscreen{
  max-width: 100%;
  
}
.search-bar{
  width: 365px;
  height: 35px;
  border-radius: 5px !important;
}
.nav-just{
  top: 0;
  position: absolute;
  left: 120px;
}
.image-back{
  position: absolute;
  width: 155%;
  height: 103%;
  left: -92px;
  top: -10px;
  background: url(../images/asd.jpg);
  filter: blur(5px);
}
.blue-left{
  background-color: #2B2D42;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .8;
}
.dbs {
  z-index: 8 !important;
}
.list-group-item{
  color: #2B2D42 !important;
  background-color: #ffffff;
}
.list-group-item.active{
  background-color: #EDF2F4;
}
.table th {
  border-top: 0 !important;
}
/*
    !Font Awwsome + Datatables
*/
table.dataTable thead th {
  position: relative;
  background-image: none !important; /* Remove the DataTables bootstrap integration styling */
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  position: absolute;
  top: 12px;
  right: 8px;
  display: block;
  font-family: "Font Awesome 5 Free";
}

table.dataTable thead th.sorting:after {
font-weight: 900; /* regular style/weight */
  content: "\f0dc";
  color: #ddd;
  font-size: 0.8em;
  padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
font-weight: 900; /* regular style/weight */
  content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
font-weight: 900; /* regular style/weight */
  content: "\f0dd";
}

div.dataTables_scrollBody table.dataTable thead th.sorting:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_asc:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_desc:after {
  content: "";
}

/* In Bootstrap and Foundation the padding top is a little different from the DataTables stylesheet */
table.table thead th.sorting:after,
table.table thead th.sorting_asc:after,
table.table thead th.sorting_desc:after {
  top: 8px;
}


/*
    !Modales
*/
.close {
  font-size: 0.9rem;
  line-height: 0 !important;
  text-shadow: none !important;
  opacity: 1 !important; 
}
.modal-content {
  
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  outline: 0;
}

.btn-close{
  background-color: #f7f7f7;
  &:hover{
    background-color: #dbdfe3;
  }
}

.button-close{
  width: 30px;
  height: 30px;
  outline: 0 !important;
  &:hover{
    color: #e40505;
  }
}
.button-close-mac{
  width: 30px;
  height: 25px;
  outline: 0 !important;
  &:hover{
    color: #e40505;
  }
}

.modal-header-mac{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #fff !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-radius: 0 !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  background-color: #3E3F41 !important;
}
.modal-header-win{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #fff !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-radius: 0 !important;
  background-color: #212336 !important;
}

.modal-footer{
  border:0 !important;
}
.modal-backdrop.show {
  opacity: 0 !important;
}
dt{
  font-weight: normal;
  font-size: 15px;
}
.custom-range {
  height: 1rem;
}


/*
  !Cambios al bootstrap
*/

.form-control:focus {
  border-color: #5d628f;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
}
.btn:focus, .btn.focus {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
}

.popover {
  max-height:400px !important;
}
.popover.popoverselecticon {
  margin-left: 10px !important;
  margin-top: 13.5% !important;
  
}
.popover.popoverselecticon .arrow {
  top: 31px !important;
}
.popover.popoverselecticon .popover-body{
  overflow-y: overlay;
  height: 280px;
}
.list-group-item:first-child {
  border-top-left-radius: 0 !important; 
  border-top-right-radius: 0 !important; 
}

.list-group-item:last-child {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
/*
  !Skeletons
*/

.skeleton-tr {
  background-repeat: no-repeat;
  background-image: 
  linear-gradient(90deg, 
  rgba(255, 255, 255, 0) 0,
  rgba(255, 255, 255, 0.8) 50%,
  rgba(255, 255, 255, 0) 100%), 
    radial-gradient(circle 8px, #e6e6e6 99%, transparent 0), //icon
    linear-gradient(rgb(237, 242, 244) 40px, transparent 0), //name
    linear-gradient(rgb(237, 242, 244) 40px, transparent 0), //user
    linear-gradient(rgb(237, 242, 244) 40px, transparent 0), //password
    linear-gradient(rgb(237, 242, 244) 40px, transparent 0), //url
    linear-gradient(rgb(237, 242, 244) 40px, transparent 0), //level
    linear-gradient(#fff 100%, transparent 0); //white
    background-size:
    150px 100px,
    16px 16px, //icon
    15% 15px, //name
    15% 15px, //user
    20% 15px, //pass
    15% 15px, //url
    6.6% 15px, //lvl
    100% 100%;
    background-position:
    -150% 0,
    2% 8px, //icon
    6.3% 8px, //name
    30.3% 8px, //user
    55.3% 8px, //pass
    88.8% 8px, //url
    99.3% 8px, //lvl
    0 0;
    height: 30px;
    width: 100%;
    animation: loadingtr 1.5s infinite;
}

.skeleton-list-a{
  background-repeat: no-repeat;
  background-image: 
  linear-gradient(90deg, 
  rgba(237, 242, 244 , 0%) 0,
  rgba(237, 242, 244 , 80%) 50%,
  rgba(237, 242, 244 , 0%) 100%), 
  linear-gradient(#ffffff 40px, transparent 0), 
  radial-gradient(circle 11px, #ffffff 99%, transparent 0), 
  linear-gradient(rgb(237, 242, 244) 100%, transparent 0);

  background-size: 150px 100px, 60% 16px, 9% 22px, 100% 100%;
  background-position: -150% 0, 20% 50%, 85% 50%, 0 0;
  height: 48px;
  width: 100%;
  z-index: 1;
  padding: 0.75rem 1.25rem;
  padding-right: 0.25rem;
  animation: loadinglist 1.5s infinite;
}


/*
  !KeyFrames
*/
@keyframes loadinglist {
  to {
    background-position:
      350% 0,        
      20% 50%,  
      85% 50%,
      0 0
    ;
  }
}

@keyframes loadingtr {
  to {
    background-position:
      350% 0,
      2% 8px, //icon
      6.3% 8px, //name
      30.3% 8px, //user
      55.3% 8px, //pass
      88.8% 8px, //url
      99.3% 8px, //lvl
      0 0;
  }
}